{{!< layout}}

    <header class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h1>Hello, World.</h1>
            </div>
        </div>
    </header>

    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <section class="aui-page-panel-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a libero ipsum. Proin quis aliquet purus. Ut ut consequat est, et elementum ipsum. Sed sit amet pretium magna. Nulla feugiat neque eu diam scelerisque scelerisque in ac leo. In vel tempor nunc, nec aliquet sapien. In congue vehicula elit quis cursus. Nam ex nisl, eleifend sit amet est eget, volutpat porta mi. Vestibulum at lorem urna.</p>

                <p>Aliquam lacus quam, sagittis id congue vel, auctor et felis. Sed rutrum neque quis nulla accumsan volutpat. Nulla vel nunc urna. Nullam fringilla lectus eget enim suscipit, a bibendum lectus bibendum. Proin ut lorem quis nulla ornare tempus. Pellentesque imperdiet tortor augue, id ultrices odio suscipit quis. Quisque pulvinar cursus feugiat. Nullam dictum dui nec dui lacinia imperdiet.</p>

                <p>In vel massa mattis lorem pellentesque sagittis. Donec sagittis augue turpis, quis aliquet lorem mattis nec. Quisque consectetur id lorem vitae porta. Mauris id pulvinar ante. Nullam scelerisque tellus turpis, in rhoncus nisl luctus vel. Phasellus eget erat quis dolor finibus tempor. Pellentesque pulvinar eleifend maximus. Aenean dapibus interdum lacus nec maximus. Integer tristique varius ipsum, ac tempor justo dignissim id. Phasellus urna lorem, fringilla id pulvinar eget, lacinia vitae sem. Integer malesuada commodo ante, eget lacinia est efficitur in. Vivamus ac velit tellus. Donec condimentum risus in lorem posuere, vel dictum nisi efficitur. Sed eu est a erat tristique cursus in sed turpis.</p>
            </section>
        </div>
    </div>
